<div class="container">
    <div class="row">
        <div class="col">
            <div class="jumbotron bg-primary text-white">
                <h1 class="display-4">Payment Successful!</h1>
                <hr class="my-4">
                <p class="lead">Your order for a <strong>{{computer_name}}</strong> for <strong>${{computer_price}}</strong> is complete.</p>
                <p class="lead">We'll follow up with a shipping email shortly</p>
            </div>
        </div>
    </div>
</div>